<%- include('../../partials/header'); %>

  <div class="page">
    <div>
        Wallet Address is not Valid.<a href="/">Please Try again</a>
    </div>
  </div>

  <%- include('../../partials/footer'); %>