<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="user/js/jquery.min.js"></script>
  <style>
    .page {
      height: 100vh;
      width: 100vw;
      position: relative;
      background-color: #f3f4f7;
    }

    @media only screen and (max-width: 600px) {
      .login-box {
        background-color: #00aeff;
        border: 1px black solid;
        margin: 0;
        width: 90vw;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 10px #00205b;
      }
    }

    @media only screen and (min-width: 600px) and (max-width: 900px) {
      .login-box {
        background-color: #00aeff;
        border: 1px black solid;
        margin: 0;
        width: 70vw;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 10px #00205b;
      }
    }

    @media only screen and (min-width: 900px) {
      .login-box {
        background-color: #00aeff;
        border: 1px black solid;
        margin: 0;
        width: 50vw;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 10px #00205b;
      }

    }

      .wp a:visited {
        color: #fff !important;
        font-weight: 600 !important;
        cursor: pointer !important;
      }
  </style>
</head>

<body>