<%- include('../partials/header'); %>

<div class="page">
    <div class="login-box">
      <div id="error_div" style="visibility: hide ;color: red;">Password is invalid.</div>
      <div class="row ">
      <div class="col-12 float-start text-end wp">
        <a href="/">please try again...</a>
      </div>
    </div>
      
    </div>
  </div>
  <%- include('../partials/footer'); %>